<div class="container">
    <div class="top-panel clearfix">
        <button class="btn btn-default btn-sm" data-ng-click="clear()">Clear</button>
        <input type="number" class="max-lines form-control input-sm pull-right" data-ng-model="maxLines" data-ng-change="onMaxLinesChange()"/>
    </div>
    <div class="list-panel">
        <p class="text-center" data-ng-show="messages.length === 0">
            <em>- empty -</em>
        </p>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="msg in messages track by $index | orderBy:'time'">{{ msg }}</li>
        </ul>
    </div>
</div>
